body{
font-family: Verdana, Geneva, Tahoma, sans-serif

}

footer{
    color: darkgrey;
    font-size: 4pt;
    
}

h1{
    color: aqua;
    font-size: 20pt;
}

h2 {
    color:yellow
    
}

h3 {
    color: blue;
}

p{
    color: lime;
    background-color: darkorchid;

}
