body{
font-family: Verdana, Geneva, Tahoma, sans-serif

}

footer{
    color: darkgrey;
    font-size: 4pt;
    
}

h1{
    color: aqua;
    font-size: 20pt;
}

h2 {
    color: green;
}

h3{
    color: red;
}

p{ 
    color:white;
    background-color: brown;
}